<p>gallery works!</p>
<b> {{receivedMessage}}</b>
<br>
<br>
<button  *ngIf="display" (click)="remove()"> remove me</button>
<br>
<ng-container >
    <div *ngIf="false;else elseBlock"> this is div</div>
    <ng-template #elseBlock> this is tempalete</ng-template>

</ng-container>
<br>
<ng-template #ng > welcome to ng template with ng container</ng-template>
<ng-container *ngTemplateOutlet="ng"> </ng-container>
<br>
<ng-content> </ng-content>
<br> <br>


<div appDirectives>Make my background red</div>

<b>  defult pip exmaple</b> <br>
<b> {{datetoday | uppercase }} </b>
<br> 
<b> {{datetoday | lowercase | date }} </b>
<br>
<b> {{amount | currency}} </b>
<p> use custom pip to display a wleocme to user</p>
<b> {{username | custome }}

    <b> services use to get the data and print the data</b>
    <div *ngFor="let e of empdata">
        <p>ID: {{ e.id }}, Name: {{ e.name }}</p>
      </div>
      